<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onUpsert(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name"></label>
          <input type="text" class="form-control" id="name" name="name" ngModel required #n="ngModel" />
          <p class="alert alert-danger" *ngIf="!n.valid && n.touched">Name is required!</p>
        </div>
        <div class="col-sm-2 from-group">
          <label for="amount"></label>
          <input type="number" class="form-control" id="amount" name="amount" ngModel required pattern="^[1-9]+[0-9]*$" #a="ngModel" />
          <p class="alert alert-danger" *ngIf="!a.valid && a.touched">Amount is required and greater than zero</p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" [disabled]="!f.valid">{{ editMode ? "Update" : "Add" }}</button>
          <button class="btn btn-danger" type="button" (click)="onDelete(f)" *ngIf="editMode">Delete</button>
          <button class="btn btn-primary" type="button" (click)="onClear(f)">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
